* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: block;
}

#grid-container {
  display: flex;
  flex-flow: wrap;
  background: gray;
  width: 960px;
  height: 960px;
  margin: auto;
}

/* .active {
  background-color: black;
} */
